html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Times New Roman', sans-serif;
  line-height: 1.25;
  background: #236FB2;
  color: #323232;
}

a {
  color: #323232;
  text-decoration: none;
}

p {
  text-align: justify;
}

.container {
  max-width:  80%;
  margin: 2vw auto;
  padding: 1vw;
  background: white;
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1vw;
  padding: 2vw 0;
  border-bottom: 2px dashed #236FB2;
}

section:last-child {
  border-bottom: 2px dashed #236FB2;
}

.section-title {
  font-weight: bold;
  font-size: 1.5vw;
}

/***********************************
* =Main Info
***********************************/

img.avatar {
  max-width:100%;
  height: auto;
}

.my-name {
  font-size: 4vw;
  line-height: 1;
}

.my-title {
  font-size: 2vw;
  font-weight: 300;
  color: #236FB2;
}

.links {
  display: flex;
  margin: 1vw 0 2vw 0;
  justify-content: space-between;
}

.link-item {
  display: flex;
  flex: 1;
}

/***********************************
* =Experience
***********************************/

.job {
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}


.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}

/***********************************
* =Skills
***********************************/

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5vw;
  margin-bottom: 2vw;
}

.skills-container ul {
  margin-left: 2vw;
  list-style-type: disc;
}

/***********************************
* =References
***********************************/

.reference {
  font-size: 1.5vw;
}

.reference-details {
  margin-bottom: 2vw;
}

